.h-m{
    height:600px;
}

.h-title{
    height:30px;
}
.f-20{
    font-size:20px;
}
.f-18{
    font-size:18px !important;
}
.p-left-0{
    padding-left:0;
}
.f-16{
    font-size:16px;
}
.input-position{
    position: absolute;
    top:-2px;
}
.title {
    display: inline-block;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    background-color: #383838;
    border: 1px solid #383838;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    font-size : 20px;
    font-weight: bold;
    border-radius: 2rem;
}

.h-table{
    border-radius: 5px;
    background: #383838;
    box-shadow: 3px 3px 3px #888888;
}
.table{
    width: 100%;
    overflow: hidden;
    table-layout: fixed;
    text-align: justify;
    letter-spacing: 0.03em;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
.width-4{
    width: 4%;
}
.width-5{
    width: 5%;
}
.width-18{
    width: 18%;
}
.width-10{
    width: 10%;
}
.width-13{
    width: 13%;
}
.width-15{
    width: 15%;
}
.width-20{
    width: 20%;
}
.width-25{
    width: 25%;
}
.width-40{
    width: 40%;
}
.position-r {
    position: relative;
}
.table-scroll> .table tbody {
    display: block;
    height: 69vmin;
    overflow-y: scroll;
    font-size: 14px;
}


.m-left-200{
    margin-left:150px;
}

.w-h-32{
    width:auto;
    height:40px;
    font-size:16px;
}

.column-xs {
    display: block;
    width: 100%;
    float: none;
}
.table_body{
    background-color: #ffffff;
        color: #383838;
}

.padding-15 {
    padding: 15px !important;
}
.p-l-15{
    padding-left:15px;
}
.m-b-15{
    margin-bottom: 15px !important;
}
.m-t-5{
    margin-top: 5px !important;
}
.layout-style-1 {
    width: 100%;
    background: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.layout-y-scroll{
    overflow-y:scroll;
}
.layout-5{
    flex: 0 0 50%;
    max-width: 50%;
    flex-direction:column;
}
.m-15{
    margin:15px;
}
.f-r{
    float:right;
}
.f-l{
    float:left;
}
.layout-5-5 {
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    max-width: 55%;
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.layout-4-5 {
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
}
.layout-2-5 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
.layout-3-3 {
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    max-width: 33%;
}
.select-img-wrapper {
    border: 1px solid #ddd;
    width: 100%;
    height: 165px;
    border-radius: 0.25rem;
    overflow: hidden;
}
.select-img-wrapper div{
    position: relative;
    width: 100%;
    height: 165px;
}

.select-img-wrapper img{
    position:absolute;
    top:10px;
    right:0;
    bottom:0;
    left:0;
    margin:auto;
    max-width:180px;
    max-height:140px;
}
.bt-X{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:200px;
    background-image: url("x.png");
    background-size: 22px;
    content: "";
    display: inline-block;
    width: 22px !important;
    height: 22px !important;
    cursor: pointer;
}
.is-valid {
    /* border: 2px solid var(--success); */
    border: 2px solid #28a745 !important;
    border-radius: 0.5rem;
}

.upload-image-wrapper {
    width: 250px;
    height: 250px;
    position: relative;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 0 auto;
    margin-top: 1rem;
}
.upload-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}
.images-list{
    height: 500px;
}
.images-list-x{
    height: 300px;
}
.flex-w{
    display:flex;
    flex-wrap:wrap;
}
ul,li{
    list-style:none;
}
.input-label {
    background: #fff;
    position: absolute;
    top: -14px;
    left: 10px;
    z-index: 1;
    padding: 0px 5px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    transition: all 0.3s ease-in-out;
    font-weight:700;
}
.ta-c {
    text-align: center;
}
.w-7{
    width:70%;
}
.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #e04522;
  border-color: #e04522;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  height:70%;
}
.input-remark-wrapper {
    font-size: 12px;
    text-align: left;
    margin-left: 15px;
    margin-top: -1.5rem;
    margin-bottom: 25px;
}
.margin-0 {
    margin: 0 !important;
}
.form-input-group {
    margin-top: 1rem;
    margin-bottom: 2rem;
    position: relative;
    height: 46px;
    line-height: 46px;
}

.layout-10 {
    -ms-flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    flex: 500% 0 100%;
}
.h-4{
    height:40px;
}
.float-r{
    float: right;
}
.float-l{
    float: left;
}
.ul-list{
    width:70%;
    float:left;
    display:flex;
    margin:0;
    height:100%;

}
.input-label {
    background: #fff;
    position: absolute;
    top: -14px;
    left: 10px;
    z-index: 1;
    padding: 0px 5px;
    line-height: 1.5;
    font-size: 12px;
    border-radius: 0.25rem;
    border: 1px solid #d8d8d8;
    transition: all 0.3s ease-in-out;
}
.wd-100{
    width: 100%;
}
.ta-r {
    text-align: right;
}

.modal-size{
    width:700px;
    height:800px;
}