{% extends "rocognitonBase.html" %}
{% block title %}{% endblock %}
{% block page_content %}
<link rel=stylesheet type="text/css" href="{{ url_for('static', filename = 'cameraROI.css') }}">

<body>
<div class="base-m my-4">
    <div class="row  d-flex justify-content-center">
        <div class="">
            <button class="btn btn-success customize-btn f-20 mx-3" onclick="roiInference()">
            <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-broadcast" viewBox="0 0 16 16">
              <path d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 0 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
            </svg>
            <span class="block-top" style=""> roi all camera</span>
            </button>
<!--            <button class="btn btn-primary" onclick="test()">TEST</button>-->
        </div>
    </div>
    <hr>

    <div id="table">


    </div>
    <div >
        <div class="row ml-1 my-2">
            <div class="col-4 d-flex flex-column" id="total-table">
                <p class="text-large">Total</p>
            </div>
        </div>
    </div>


</div>



</body>


<script src="{{url_for('static', filename='cameraROI.js')}}"></script>
{% endblock %}

