<table class="table">
    <thead>
        <tr style="color:white;text-align:center;">
            <th class="width-4 position-r"></th>
            <th class="width-15 ">品名</th>
            <th class="width-18 ">料號代碼</th>
            <th class="width-10 ">商品主圖</th>
            <th class="width-25 ">備註資訊</th>
            <th class="width-10 ">圖資數量</th>
            <th class="width-5 ">狀態</th>
            <th class="width-13 ">管理</th>
        </tr>
    </thead>
    <tbody class="table_body hover-orange">

    </tbody>
</table>

