
<div class="mb-3">
    <button type="button" class="btn btn-danger btn-lg mr-3" onClick="backToCustomerProductList()">返回</button>
    <button type="button" class="btn btn-danger btn-lg mr-3" onClick="passProductId(this)" data-toggle="modal" data-target="#modal1" >圖片上傳</button>
    <button type="button" class="btn btn-danger btn-lg mr-3" onClick="deleteCustomerProduct(this)">刪除</button>
    <h4 class="float-r m-t-5">
    </h4>
</div>
<div class="layout-style-1 layout-y-scroll">
    <ul class="images-list flex-w px-3">

    </ul>
</div>
<nav class="mt-4 h-4">
    <ul class="pagination justify-content-center ul-list ">
        <li class="page-item active">
            <a class="page-link">1</a>
        </li>
    </ul>
</nav>
