<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{{title|default}}{% endblock title %}</title>
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename = 'recognitionBase.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel=stylesheet type="text/css" href="{{ url_for('static', filename = 'main_struct.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {%- endblock scripts %}

    <nav class="navbar navbar-dark bg-dark box-shadow row">
            <div class="col-2"></div>
            <div class="col-1">
                <a href="/" class="">
                    <img class="navbar-brand" width="150" height="150" src="{{ url_for('static' ,filename='EZchainLogo.png') }}">
                </a>
            </div>
            <div class="col-1"></div>
            <div class="col-5 pl-5">
                <h1 class="title-text big-tittle">Management System</h1>
            </div>
            <div class="col-3"></div>
    </nav>

</head>
<body>
    <div class="d-flex flex-row base-m ">
        <button class="btn btn-success customize-btn f-20 mx-3" onclick="pageChangeFirst()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-size bi bi-arrow-return-left" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
            </svg>
            <span class="block-bottom" style=""> 返回</span>
        </button>
        <button class="btn btn-success customize-btn f-20 mx-3" onclick="pageChangeCameraROI()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-size bi bi-camera-video" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175l3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
            </svg>
            <span class="block-bottom" style=""> Camera ROI辨識</span>
        </button>
        <button class="btn btn-success customize-btn f-20 mx-3" onclick="pageChangeRecognition()">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="svg-size bi bi-card-image" viewBox="0 0 16 16">
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
              <path d="M1.5 2A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13zm13 1a.5.5 0 0 1 .5.5v6l-3.775-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12v.54A.505.505 0 0 1 1 12.5v-9a.5.5 0 0 1 .5-.5h13z"/>
            </svg>
            <span class="block-bottom" style=""> 單張圖片測試</span>
        </button>

    </div>

        {% block page_content %}{% endblock %}

</body>
<script src="{{url_for('static', filename='recognitionChangePage.js')}}"></script>
</html>





